
body{
    background-color: hsl(240, 3%, 79%);
}

h1{
    text-align: center;
    font-size: 60px;
}

h2{
    text-align: center;
}
iframe{
    text-align: center;
    margin-left: 400px;
}

@media screen and (max-width: 668px){
    h1{
        font-size: 30px;
        text-align: center;
        margin-top: 50px;
    }

    h2{
        font-size: 15px;
        text-align: center;
    }
}